# Project exclude paths
/venv/
/scripts/private/
/analyses/quantifications/summaries/
/analyses/quantifications/completed/
/data/daily/
/data/GCMS/
/data/log/
/data/sheets/private/
/data/json/private/
